body{
  background-image:url(dustyPlatter6.jpg);
  text-align: center;
  background-color: chocolate;
}
#bodyelement{
  width: 80%;
  background-color: chocolate;
  margin-left:auto;
  margin-right:auto;
}

.addy{
  margin:10px;
  border-style: groove;
  border: 5px solid green;
  padding: 60px;
}
