header{
    text-align: center;
}
*{
  display: block;
  background-color: aquamarine;
}
img{
    border-radius: 50%;
    width: 70px;
    height: auto;
}
  


body{
    display: table;
    background-color: aliceblue;
    border-radius: 25px;
    width: 80%;
    height: 50px;
  }
    padding-left: 10%;
    padding-right: 10%;
