body{
    background-color: snow;
}

header{
    display: block;
    background-color: rgb(25, 25, 114);
    width: 100%;
    height: 150px;
    position: relative;
}

#login{
    text-align: right;
    margin-right: 5%;
}
hr{
    width: 90%;
    color: snow;
}

#headers{
    margin-right: 5%;
    float: right;
    color: white;
}

#leftHead{
    margin-left: 5%;
    float: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

H1{
    text-align: center;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    color: snow;
}

#btn1{
    margin-left: 47%;
    
}

#thornn{
    height: 467px;
    background-image: url(Classroom-Procedures-min.jpg);
    background-repeat: repeat-x;
}

#iddd{
     display: block;
     margin-top: px;
}

#row img{
    float: left;
    width: 50%;
   
    height: 446;
}


#robb img{
    float: left;
    width: 50%;
    height: 446;
}

#F_row{
    height: auto;
}

#S_row{
    height: auto;
}

#roww{
    float:right;
    width: 50%;
    height: max-content;
    padding-top: 50px;
    font-size: medium;
    background-color: rgb(25, 25, 114);
    color: snow;
    list-style: circle;
    line-height: 20px;
    text-align: left;
    display: flexbox;
}
#rob{
    float:left;
    width: 50%;
    height: max-content;
    padding-top: 50px;
    font-size: medium;
    background-color: rgb(25, 25, 114);
    color: snow;
    list-style: circle;
    line-height: 20px;
    clear: both;
    text-align: left;
    display: flexbox;
}

#services{
    text-align: center;
}
#line{
    clear: both;
}
