html{
    background-color: rgb(25, 25, 114);
    margin-left: 10%;
    margin-right: 10%;
    color: snow;
}

header{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(0, 0, 87) ;
}

#even{
    background-color: rgb(0, 0, 87);
    
}

#odd{
    background-color: rgb(25, 25, 114);
    

}

#opptimes{
    padding:10px ;
}

#infoo{
    
    background-color: snow;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

#inf{
    width: 100%;


}

#imghead{
    width: 85%;
}

#input{
    width: 40%;
    min-height: 90vh;
}

#serv{
    background-color: rgb(0, 0, 87);
    width: 100%;
    padding-left: 7%;
}

#image{
    width: 70%;
}

#contact{
    background-color: snow;
    color: black;
    
    padding-left: 10%;
}


form{
    float: right;
    background-color: snow;
    max-height: 90vh;
    min-height: 90vh;
    color: black;
    padding: 10px 50px;
    width: 75%;
}

input{
    width: 300px;
    height: 35px;
}

hr{
    clear: both;
}

#links{
    float: right;
}

#radiology{
    float: left;
}

a{
    color: white;
    
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

#homeT{
    text-align: center;
    width: 100%;
}