body{
    background-image: url("9wHEbl.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 
}

a{
    color: snow;
    font-style: italic;
}

a:hover{
    color: green;
    font-style: normal;
}


#left{
    float: left;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

#right{
    float: right;
    color: white;
}

h1{
    color: white;
    text-align: center;
    box-sizing: 200px, 100%;
    padding-top: 200px;

}


h3{
    color: white;
    text-align: center;
}

form{
    text-align: center;
}

#button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 255, 128);
    height: 30px;
    width: 120px;

}

#button:hover{
    background-color: yellow;
    color: black;
    height: 50px;
    width: 170px;
}